<div>
  <header class="header">
    <h1>Currency Converter</h1>
    <table>
      <tr class="current-rates" *ngFor="let rate of rates">
        <td>{{rate.ccy}} </td>
        <td>{{rate.base_ccy}} </td>
        <td>Purchase: <span>{{rate.buy}}</span> </td>
        <td>Sale: <span>{{rate.sale}}</span></td>
      </tr>
    </table>
  </header>
  <p class="availability">Available currencies: <span>USD, EUR, UAH</span></p>
  <div class="converter">
    <div>
      <input type="number" min="0" [ngModel]="inputFirst" (ngModelChange)="inputFirstChange($event)" (keypress)="inputValidator($event)"/>
      <select [ngModel]="currencyFirst" (ngModelChange)="currencyFirstChange($event)">
        <option>UAH</option>
        <option *ngFor="let rate of rates">{{rate.ccy}}</option>
      </select>
    </div>
    <div>
      <input type="number" min="0" [ngModel]="inputSecond" (ngModelChange)="inputSecondChange($event)" (keypress)="inputValidator($event)"/>
      <select [ngModel]="currencySecond" (ngModelChange)="currencySecondChange($event)">
        <option>UAH</option>
        <option *ngFor="let rate of rates" [value]="rate.ccy">{{rate.ccy}}</option>
      </select>
    </div>
  </div>
</div>
