.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

.current-rates :first-child {
    font-weight: 600;
}

.current-rates :nth-child(2) {
    color: #8c8c8c;
}

.availability {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
}

.availability  span {
    font-weight: 600;
}

.converter {
    display: flex;
    justify-content: center;
    gap: 30px;
}

input {
    height: 30px;
    box-sizing: border-box;
    border: solid 2px #b8b8b8;
    border-right: none;
}

select {
    height: 30px;
    box-sizing: border-box;
    border: solid 2px #b8b8b8;
}