html {
    height: 100%;
}

body {
    max-width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
    background: linear-gradient(124deg, rgba(4,67,105,0.8660057773109244) 0%, rgba(4,100,166,0.675529586834734) 38%, rgba(0,202,255,0.9500393907563025) 100%);
}

app-root {
    width: 100%;
    padding: 20px;
    background-color: #efefef;
    border-radius: 15px;
}